<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        function getPok() {
            const max = 20;
            const min = 1;
            const randomPokID = Math.floor(Math.random() * (max - min + 1)) + min;
            $.ajax({
                type: "GET",
                url: `./pokemon/${randomPokID}`,
                success: function (jsonObj) {
                    console.log(randomPokID, "pokemon data recevied", jsonObj);
                    appendPok(jsonObj[0]);
                }
            })
        }

        function appendPok(properties) {

            const div = document.createElement("div");
            const a = document.createElement("a");
            const img = document.createElement("img");
            const h1 = document.createElement("h1");
            div.className = "grid-item";
            img.src = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${properties.id}.png`
            h1.textContent = properties.name;
            a.href = `./pokemonpurchase/${properties.id}`;
            a.appendChild(img);
            div.appendChild(a);
            div.appendChild(h1);
            $("main").append(div);
        }

        function getPurchaseLog() {

            $.ajax({
                type: "GET",
                url: `/summarypurchase`,
                success: function (jsonObj) {
                    console.log(jsonObj, "reeeed");
                    const log = document.getElementById('purchaselog');
                    const str = JSON.stringify(jsonObj);
                    log.innerHTML = str;
                }
            })


        }





        function setup() {

            for (let i = 0; i < 9; ++i) {
                getPok();
            }

            getPurchaseLog();

        }

        window.onload = setup;
    </script>
</head>

<body>

    <div id="purchaselog">

    </div>

    <main></main>

    <div id="shopping-card">

    </div>


</body>

</html>